#!/bin/bash

# TODO: Replace all of these with Systemd Service
sleep 1
stalonetray &
nm-applet &
$HOME/.scripts/init-keyboard.sh
xcape -e "Hyper_L=Tab;Hyper_R=backslash;Control_L=Escape"
xsetroot -solid "#002b36"
xbanish &
exec xmonad
