#!/bin/bash

# TODO: Figure out why I have this path export
export PATH="${PATH}:${HOME}/.local/bin:${HOME}/.xmonad"

# TODO: Replace all of these with Systemd Service
stalonetray &
nm-applet &
$HOME/.bin/init-keyboard.sh
xsetroot -solid "#002b36"
xbanish &
