#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!*.foreground:            S_base0
!*.fading:                40
!*.fadeColor:             S_base03
!*.cursorColor:           S_base1
!*.pointerColorBackground:S_base01
!*.pointerColorForeground:S_base1

!! DOOM Peacock Theme
#define DM_fg           #ede0ce
#define DM_black        #282c34
#define DM_brightblack  #9ca0a4
#define DM_white        #DFDFDF
#define DM_brightwhite  #bbc2cf
#define DM_red          #ff6c6b
#define DM_brightred    #da8548
#define DM_green        #98be65
#define DM_brightgreen  #4db5bd
#define DM_yellow       #ECBE7B
#define DM_coralpop     #a60033
#define DM_blue         #2257A0
#define DM_brightblue   #51afef
#define DM_magenta      #a9a1e1
#define DM_brightmagent #c678dd
#define DM_cyan         #46D9FF
#define DM_brightcyan   #5699AF

*.foreground:            DM_fg
*.fading:                40
*.fadeColor:             D_base0
*.cursorColor:           DM_coralpop
!!*.pointerColorBackground:DM_coralpop
!!*.pointerColorForeground:S_base0


!! black dark/light
*.color0:                DM_black
*.color8:                DM_brightblack

!! red dark/light
*.color1:                DM_red
*.color9:                DM_brightred

!! green dark/light
*.color2:                DM_green
*.color10:               DM_brightgreen

!! yellow dark/light
*.color3:                DM_yellow
*.color11:               DM_coralpop

!! blue dark/light
*.color4:                DM_blue
*.color12:               DM_brightblue

!! magenta dark/light
*.color5:                DM_magenta
*.color13:               DM_brightmagent

!! cyan dark/light
*.color6:                DM_cyan
*.color14:               DM_brightcyan

!! white dark/light
*.color7:                DM_white
*.color15:		           DM_brightwhite

